# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
#data/raw/
#data/processed/

# Models
models/
*.bin
*.pt
*.pth
*.safetensors

# Outputs
outputs/

# System
.DS_Store
Thumbs.db

# Secrets
.env